extends base.pug


//- 백엔드의 내용을 고치는 경우 POST를 사용합니다.
//- 데이터를 받는 것이 목적인 경우 GET을 사용합니다.
block content
    h4 Change Title of Video
    form(method="POST")
        input(name="title", placeholder="Video Title", value=video.title, required)
        input(value="Save",type="submit")
